.tv-shows {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    padding: 10px;
}

.tv-show {
    width: 180px;
    height: 330px;
    margin: 10px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
    justify-content: center;
}

.poster-container img {
    width: 100%;
    height: 275px;
}

h2 {
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.2;
    color: #280137;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.search-container {
    text-align: center;
    margin: 20px 0;
}

.search-container form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container input[type="text"] {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #280137;
    border-radius: 5px 0 0 5px;

}

.search-container button[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #280137;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    border: 1px solid #280137;
}

.search-container button[type="submit"]:hover {
    background-color: white;
    color: #280137;
}

.tv-show:hover {
    transform: scale(1.1); 
    transition: transform 0.3s ease; 
}

.order-select {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #280137;
    color: white;
    border: none;
    cursor: pointer;
    border: 1px solid #280137;
}

.order-select:hover {
    background-color: white;
    color: #280137;
}

.placeholder-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    color: #280137;
}

.placeholder-content h3 {
    font-size: 24px;
}



